<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><b>GuiaPress</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
            <% categories.forEach((category) => {%>
            <li><a class="dropdown-item" href="/category/<%= category.slug %> "><%= category.title %></a></li>
            <% }); %>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/categories/admin"><b>Todas categorias</b></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Artigos
          </a>
          <ul class="dropdown-menu">
            <% articles.forEach((article) => {%>
            <li><a class="dropdown-item" href="/<%= article.slug %>"><%= article.title %> </a></li>
            <% }); %>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/articles/admin"><b>Todos artigos</b></a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuário
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users/admin/create">Criar usuário</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/admin">Lista de usuário</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>